ALTER TABLE public.notification_logs ADD COLUMN is_read boolean DEFAULT false; ALTER TABLE public.notification_logs ADD COLUMN link text; ALTER TABLE public.notification_logs ADD COLUMN metadata jsonb;
